.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.google_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  min-width: 40%;
  background-color: #cbcbd4;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(33, 1, 1, 0.6);
}

.text_header {
  position: absolute;
  display: flex;
  top: 5%;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-size: 45px;
  font-weight: 800;
  color: #eee793;
}

h3 {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 3px;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  width: 130px;
  height: 36px;
  border-radius: 5px;
  border: 0px solid;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(248, 233, 43, 1) 0%,
    rgba(238, 178, 74, 1) 100%
  );
  color: rgb(25, 32, 65);
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms;
}

button:hover {
  border: 2px solid rgba(9, 9, 121, 1);
  transform: scale(1.05);
}
